{%extends 'subreddit/base.html'%}
{%load static%}
{%block content%}
<section class="main mt-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="card post">
  				<div class="card-header">
   				 <i class="fas fa-arrow-up"></i>
   				 45
   				 <i class="fas fa-arrow-down"></i>
  				</div>
				  <div class="card-body">
				    <h5 class="card-title"><a href="#">Special title treatment</a></h5>
				    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				    
				  </div>
				</div> 
				<div class="card post">
  				<div class="card-header">
   				 <i class="fas fa-arrow-up"></i>
   				 45
   				 <i class="fas fa-arrow-down"></i>
  				</div>
				  <div class="card-body">
				    <h5 class="card-title"><a href="#">Special title treatment</a></h5>
				    <p class="card-text">With supporting text below as a natural lead-in to additional content.
				    With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.</p>
				    
				  </div>
				</div>
				<div class="card post">
  				<div class="card-header">
   				 <i class="fas fa-arrow-up"></i>
   				 45
   				 <i class="fas fa-arrow-down"></i>
  				</div>
				  <div class="card-body">
				    <h5 class="card-title"><a href="#">Special title treatment</a></h5>
				    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				    
				  </div>
				</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
  				<div class="card-body">
					    <h5 class="card-title">Newest SubReddits</h5>
					    
					    {%for subreddit in subreddits%}
					    <p><a href="{%url 'subreddit' subreddit.title %}" class="card-link">r/{{subreddit.title}}</a></p>
					    
					    {%endfor%}
					    
				  </div>
				</div>
				</div>
			</div>
		</div>
	</section>
{%endblock%}