{%extends 'subreddit/base.html' %}
{%load static%}
{%block content%}
<section class="search">
	<div class="container">
		<div class="row">
			{%if searched%}
			{%for subreddit in subreddits%}
			<div class="col-lg-4">
				<div class="card mt-3">
					<div class="card-title p-5"><a href="{%url 'subreddit' subreddit.title%}" class="h2">r/{{subreddit.title}}</a></div>
					
				</div>
			</div>
			{%endfor%}
			{%else%}
			<div class="text-center">
				<h1>Havent serached anything</h1>
			</div>
			{%endif%}
		</div>
	</div>
</section>
{%endblock%}