{%extends 'subreddit/base.html'%}
{%load static%}
{%block content%}
<section class="main mt-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
				{%if posts|length > 0%}
					{%for post in posts%}
					<div class="card post">
		  				<div class="card-header">
			  				{%if request.user.is_authenticated%}
			   				 <button class="btn vote_up" value='{{post.id}}' onclick="voteUp({{post.id}})"> <i class="fas fa-arrow-up"></i></button>
			   				 <span id='id{{post.id}}'>{{post.total_vote}}</span>
			   				   <button  class="btn vote_down" value='{{post.id}}' onclick="voteDown({{post.id}})"><i class="fas fa-arrow-down"></i></button>
			   				   {%else%}
					   				   <a class="btn " href="{%url 'login_page'%}"> <i class="fas fa-arrow-up"></i></a>
					   				 <span id='id{{post.id}}'>{{post.total_vote}}</span>
					   				   <a  class="btn " href="{%url 'login_page'%}"><i class="fas fa-arrow-down"></i></a>
			   				   {%endif%}
  						</div>
						  <div class="card-body">
						    <h5 class="card-title"><a href="{%url 'post_page' post.id%}">{{post.title}}</a></h5>
						    <p class="card-text">{{post.body|truncatewords:100}}</p>
						    
						  </div>
					
					</div> 
				{%endfor%}
				{%else%}
				<div class="card post">
		  				
						  <div class="card-body">
						    <h5 class="card-title"><a href="#">No posts in this sub</a></h5>
						    <p class="card-text">be the first one to post</p>
						    
						  </div>
					
					</div> 
				{%endif%}
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
  				<div class="card-body">
					    <h5 class="card-title">r/{{subreddit.title}}</h5>
					    <p>by-{{subreddit.author}}</p>
					    <p><a href="{%url 'subreddit_post' subreddit.title %}" class="btn btn-primary">Post</a></p>
					    <p>
					    	<form action="{%url 'subreddit_follow' subreddit.id %}" method="post">
					    		{%csrf_token%}
					    		{%if isfollowed%}
					    		<button type="submit" class="btn btn-danger ">UnFollow</button>
					    		{%else%}
					    		<button type="submit" class="btn ">Follow</button>
					    		{%endif%}

					    	</form>
					    </p>
					   
					    
				  </div>
				</div>
				</div>
			</div>
		</div>
	</section>
	<script>
	
	function voteUp(id){
		
		const totalVoteEle=document.getElementById(`id${id}`)
		let data = new FormData(); // 2
		data.append("csrfmiddlewaretoken", '{{csrf_token}}')
		axios.post(`/ups/${id}`, data) // 4
     		.then(res => {
     		totalVoteEle.innerHTML=res.data.total_vote}) // 5
     		.catch(errors => console.log(errors)) // 6

	}
	function voteDown(id){
		
		const totalVoteEle=document.getElementById(`id${id}`)
		let data = new FormData(); // 2
		data.append("csrfmiddlewaretoken", '{{csrf_token}}')
		axios.post(`/downs/${id}`, data) // 4
     		.then(res => {
     			totalVoteEle.innerHTML=res.data.total_vote

     		}) // 5
     		.catch(errors => console.log(errors)) // 6

	}

	</script>
{%endblock%}